<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur3e_robot">
  <!--
    This is a convenience top-level xacro which loads the macro for the UR3e
    which defines the default values for the various "parameters files"
    parameters for a UR3e.

    This file is only useful when loading a stand-alone, completely isolated
    robot with only default values for all parameters such as the kinematics,
    visual and physical parameters and joint limits.

    This file is not intended to be integrated into a larger scene or other
    composite xacro.

    Instead, xacro:include 'inc/ur3e_macro.xacro' and override the defaults
    for the arguments to that macro.

    Refer to 'inc/ur_macro.xacro' for more information.
  -->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur3e_macro.xacro"/>
  <xacro:ur3e_robot prefix=""/>
  <xacro:include filename="$(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_arg2f_140_model_macro.xacro"/>
  <xacro:robotiq_arg2f_140 prefix=""/>
  	
  
  <!-- Robotiq Coupler -->
  <!--  + Height added by the coupler: 8mm -->
  <!--  + Reference frame: at the middle (4mm) -->
  <link name="robotiq_coupler">
    <visual>
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_85_coupler.stl" />
      </geometry>
      <material name="FlatBlack">
        <color rgba=".1 0.1 0.1 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_85_coupler.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="2.073e-05   1.45286e-03  -1.1049e-03" rpy="0 0 0" />
      <mass value="0.168" />
      <inertia ixx="6.69695624e-05" ixy="5.21511788e-09" ixz="-2.74383009e-08" 
               iyy="7.85088161e-05" iyz="5.41105193e-07" izz="1.41819717e-04"/>
    </inertial>
  </link>

  <!-- Attach the coupler to end effector -->
  <joint name="robotiq_coupler_joint" type="fixed">
    <origin xyz="0 0 0.004" rpy="0 0 ${-pi/2.0}" />
    <parent link="tool0"/>
    <child link="robotiq_coupler"/>
  </joint>
  <gazebo reference="robotiq_coupler">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  
  <!-- Attach the gripper to the coupler -->
  <joint name="robotiq_140_base_joint" type="fixed">
      <origin xyz="0 0 0.004" rpy="0 0 0"/>
      <parent link="robotiq_coupler"/>
      <child link="robotiq_arg2f_base_link"/>
  </joint>
  
  <!-- Add virtual joint manually -->
  <virtual_joint name="base_joint" type="fixed" parent_frame="base_link" child_link="world" />
  
  <!-- Gazebo FT sensor plugin -->
  <gazebo reference="wrist_3_joint">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor_plugin" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>wrench</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <jointName>wrist_3_joint</jointName>
    </plugin>
  </gazebo>
  
  <!-- Gazebo grasping plugin -->
  <gazebo>
    <gripper name="gazebo_gripper">
      <grasp_check>
        <attach_steps>2</attach_steps>    <!-- default: 20 -->
        <detach_steps>2</detach_steps>    <!-- default: 40 -->
        <min_contact_count>3</min_contact_count>
      </grasp_check>
      <gripper_link>left_inner_finger_pad</gripper_link>
      <gripper_link>right_inner_finger_pad</gripper_link>
      <palm_link>robotiq_arg2f_base_link</palm_link>
    </gripper>
  </gazebo>
  
  <!-- add some color for gazebo -->
  <gazebo reference="left_outer_knuckle">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="right_outer_knuckle">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="left_inner_knuckle">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="right_inner_knuckle">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="left_inner_finger">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="right_inner_finger">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="robotiq_arg2f_base_link">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="left_inner_finger_pad">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/LightGrey</material>
  </gazebo>
  <gazebo reference="right_inner_finger_pad">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/LightGrey</material>
  </gazebo>
  
  
</robot>
