<launch>
  <arg name="node_start_delay" default="10.0" />
  
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.565559 0.446162 0.41292" rpy="0.651141 -0.670943 -2.22234" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_camera_link_broadcaster"
      args="0.565559 0.446162 0.41292   -0.413528 -0.132304 0.848516 -0.302507 base_link base_depth_frame" 
      launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
</launch>
