<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.651944 0.52821 0.501983" rpy="2.66947 -0.529589 -2.42374" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.651944 0.52821 0.501983   0.386933 0.85708 -0.300722 -0.158947 base_link camera_depth_optical_frame" />
</launch>
